@tailwind base;
@tailwind components;
@tailwind utilities;

*,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.innerContainer {
    max-width: 1700px;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
}

@media (max-width: 768px) {
    .innerContainer {
        padding-right: 0;
        padding-left: 0;
    }
}

.react-multi-carousel-dot--active button {
    background: #2BBEA4 !important;
}

.react-multiple-carousel__arrow--right {
    background: #10C0CB !important;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 8px !important;
}
.react-multiple-carousel__arrow--right {
    right: 0px !important;
}