.wrapper {
  background-color: #e8f1fa; // full width background
  padding: 100px 0; // vertical spacing

  .main {
    max-width: 1300px;
    margin: 0 auto; // center the content horizontally
    padding: 0 0px; // spacing from left & right
    font-weight: 400;

    h1 {
      text-align: center;
      margin-bottom: 24px;
    }

    p {
      text-align: left;
      line-height: 1.6;
      margin-bottom: 16px;
    }
  }
}


.titel{
    color: var(--color-success) !important;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.card-container {
padding: 50px;

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
